.App {
  text-align: center;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 20vh 20vh 50vh 10vh;
  grid-template-areas:
  "header header header"
  ". search ."
  ". main ."
  "footer footer footer" 
}

